*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    line-height: 1.6;
}
.header-h2{
 display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: capitalize;
font-size: 2rem;
font-weight: 500;
font-family: Roboto, sans-serif;
} 
.header-h3{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: capitalize;
font-weight: 300;
font-family: Roboto, Arial, Helvetica, sans-serif;
}
.products{
    
display: flex;
justify-content: center;
align-items: center;
text-align: center;
text-transform: capitalize;
font-weight: 300;
font-family: Roboto, Arial, Helvetica, sans-serif;
margin-top: 10px;
}
.container{
    display: inline-block;
    flex-wrap: wrap;
    margin: 20px ;
    margin-left: 60px;
    position: relative;

}
.price{
    position: absolute;
    color: white;
    background-color: black;
    top: 0;
    right: 0;
    padding: 2px 1px 1px 2px;
    font-size: 2rem;

    
}
p{
  margin-top: 10px ;
  text-transform: capitalize;
  color: brown;
  font-weight: 400;
  font-family: Roboto;
  font-size: 2rem;
}
a{
    text-transform: capitalize;
  color: brown;
  font-weight: 400;
  font-family: Roboto;
  font-size: 1rem; 
  background: red;
  color: white;
  padding: 5px 4px 5px 4px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}
img{
    border-radius: 12px;
    box-shadow: 4px 10px -21px 4px rgba(0, 0, 0, 0.1);
}
img:hover{
transform: scale(1.1);
}